<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
        <link rel="stylesheet" href="static/styles/style.css" />

        <title>Weather Classifier</title>
    </head>
    <body>
        <h1>Weather Classifier</h1>

        <div class="select-img">
            <form
                action="{{ url_for('upload') }}"
                method="post"
                enctype="multipart/form-data"
            >
                <p id="prompt">Choose an image of a weather condition!</p>
                <div class="file-select-btn">
                    <label for="file-selector">Select Image</label><br />
                    <input
                        type="file"
                        id="file-selector"
                        name="file"
                        accept=".jpg, .jpeg, .png, .gif, .bmp"
                        required
                        onchange="previewImage()"
                        hidden="true"
                    />
                    <span id="chosen-file"
                        >{% if img != None %} {{img}} {% endif %}</span
                    >
                </div>

                <br />
                <div id="image-preview">
                    {% if img != None %}
                    <img
                        src="{{ url_for('uploaded_file', filename=img) }}"
                        alt="Uploaded Image"
                    />
                    {% endif %}
                </div>
                <input
                    id="predict"
                    type="submit"
                    name="action"
                    value="Predict"
                />
            </form>
        </div>

        <p id="result">
            {% if pred_result and pred_conf != "" %} There is a {{ pred_conf }}%
            that the image features
            <b> {{ pred_result }} </b> weather {% endif %}
        </p>

        <script>
            const predictBtn = document.getElementById("predict");
            const chosenFile = document.getElementById("chosen-file");
            const resultMsg = document.getElementById("result");

            predictBtn.style.display = "none";

            function previewImage() {
                predictBtn.style.display = "inline-block";
                const fileInput = document.getElementById("file-selector");
                const imagePreview = document.getElementById("image-preview");

                // clear previous view
                imagePreview.innerHTML = "";
                resultMsg.innerHTML = "";

                // Check if a file is selected
                if (fileInput.files && fileInput.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        // Create an image element
                        const img = document.createElement("img");
                        img.src = e.target.result;

                        // Append the image to the preview container
                        imagePreview.appendChild(img);
                    };

                    // Read the selected file as a data URL
                    reader.readAsDataURL(fileInput.files[0]);
                    console.log(fileInput.files[0]);
                    chosenFile.innerHTML = fileInput.files[0].name;
                }
            }
        </script>
    </body>
</html>
