<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
        <link rel="stylesheet" href="static/styles/style.css" />

        <title>Weather Classifier</title>
    </head>
    <body>
        <h1>Weather Classifier</h1>

        <div class="select-img">
            <p id="prompt">Choose an image of a weather condition!</p>
            <form
                id="file-upload-form"
                action="{{ url_for('upload') }}"
                method="post"
                enctype="multipart/form-data"
            >
                <div class="file-select-btn">
                    <label for="file-selector">Select Image</label><br />
                    <input
                        type="file"
                        id="file-selector"
                        name="file"
                        accept=".jpg, .jpeg, .png, .gif, .bmp"
                        onchange="previewImage()"
                        hidden="true"
                    />
                    <span id="chosen-file"
                        >{% if img != None %} {{img}} {% endif %}</span
                    >
                </div>

                <br />
                <div id="image-preview">
                    {% if img != None %}
                    <img
                        src="{{ url_for('uploaded_file', filename=img) }}"
                        alt="Uploaded Image"
                    />
                    {% else %}
                    <div id="drop-area">
                        <img id="upload-img" src="{{ url_for('static',
                        filename="./img/upload.gif") }}" alt="Upload" />
                        <p id="drop-msg">Drop an image</p>
                        <input
                            type="file"
                            id="file-selector-dd"
                            name="file"
                            accept=".jpg, .jpeg, .png, .gif, .bmp"
                            onchange="previewImage('file-selector-dd')"
                            hidden="true"
                        />
                    </div>
                    {% endif %}
                </div>
                <input
                    id="predict"
                    type="submit"
                    name="action"
                    value="Predict"
                />
            </form>
        </div>

        <p id="result">
            {% if pred_result and pred_conf != "" %} There is a {{ pred_conf }}%
            that the image features
            <b> {{ pred_result }} </b> weather {% endif %}
        </p>
        <script src="/static/script/preview.js"></script>
    </body>
</html>
